<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<form class="form-inline">
		<div class="form-group col-md-3">
			<input type="text" class="form-control" id="exampleInputEmail3" placeholder="Search here e.g. YHOO" ng-model="query">
		</div>
		<div class="form-group col-md-3">
			<p class="input-group">
				<input type="date" class="form-control" datepicker-popup ng-model="dt1" is-open="$parent.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="form-group col-md-3">
			<p class="input-group">
				<input type="date" class="form-control" datepicker-popup ng-model="dt2" is-open="$parent.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="form-group col-md-2">
			<button type="submit" class="btn btn-default" ng-click="search()">Search</button>
		</div>
	</form>

	<svg class="chart"></svg>

</div>
